{% extends "base.html" %}  
{% comment %} django template {% endcomment %}
{% load static %}
{% block page_content %}

<h1>Projects</h1>
<div class="row">
    {% comment %} loop projects passed in by context dictionary and generate bootstrap card for each one {% endcomment %}
    {% for project in projects %}
        <div class="col-md-4">
            <div class="card mb-2">
                {% comment %}  static tells Django to look inside the static files to find a file matching project.image {% endcomment %}
                <img class="card-img-top" src="{% static project.image %}"> 
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    {% comment %} Accessing URLs in Django:  url '<url path name>' <view_function_arguments> {% endcomment %}
                    <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary"> Read More </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}